* {
  min-width: 0;
  font: inherit;
}
/* or */
.flex > * {
  min-width: 0;
}
/* https://twitter.com/src_rip/status/1745407959562154230 */

*, *::before, *::after {
  box-sizing: border-box;
}

img, video, svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100svh;
}
  
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
  
p {
  text-wrap: pretty;
}
/* https://twitter.com/souporserious/status/1746311121949356469 */