html, body , #__nuxt{
  height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color-scheme: light dark;
  min-height: -webkit-fill-available;
}
html.dark {
  background: #222;
  color: white;
  color-scheme: dark;
}
@media screen and (min-width: 768px) {
  /* width */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-blueGray-200;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-blueGray-400 rounded-xl;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gradient-to-tr from-cyan-400 to-violet-600;
  }
  .dark ::-webkit-scrollbar-track {
    @apply bg-blueGray-800;
  }

  /* Handle */
  .dark::-webkit-scrollbar-thumb {
    @apply bg-blueGray-600 rounded-xl;
  }

  /* Handle on hover */
  .dark::-webkit-scrollbar-thumb:hover {
    @apply bg-gradient-to-tr from-amber-400 to-rose-600;
  }
}